<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
    <h1>Список пользователей</h1>
    <table border="1">
        <tr>
            <th>Имя пользователя</th>
            <th>Роль</th>
            <th colspan="2">Функции</th>
        </tr>
        <tr th:each="user :${userList}">
            <td th:utext="${user.login}" style="text-align: center"></td>
            <td th:utext="${user.role.name()}" style="text-align: center"></td>
            <td><a th:if="${user.role.name() != 'ADMIN'}" th:href="@{/users/edit/{id} (id=${user.id})}">Изменить роль</a></td>
            <td><a th:if="${user.role.name() != 'ADMIN'}" th:href="@{/users/delete/{id} (id=${user.id})}">Удалить</a></td>
        </tr>
    </table>
    <br>
    <a href="/">Назад</a>
</body>
</html>